[master]
master-dev ansible_host=54.237.241.239 private_ip=10.10.1.196 server_id=101

[slave]
replica-01-dev ansible_host=54.166.197.84 private_ip=10.10.1.54 server_id=102

[all:vars]
ansible_ssh_user = ubuntu
ansible_ssh_private_key_file = ../terraform/project_percona/genesis_ssh_key.pem